body {
    background-image: url(../image/background\ 1.png);
    background-repeat: no-repeat;
    max-width: 1366px;
    width: 100%;
    height: 768px; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 1028px;
    margin-top: 46px;
    margin-bottom: 18px;
    margin-left: 160px;
    margin-right: 178px;
}
.header .header-logo {
    display: flex;
    justify-content:flex-start;
    align-content: space-between;
    height: 50px;
    width: 180px;
}
.header-logo .logo {
    height: 48px;
    width: 54px;
    margin-right: 8px;
}
.logo .logo-main {
    position: relative;
}
.logo .logo-hover {
    display: none;
    position: absolute;
}
.header-logo .logo-title {
    text-decoration: none;
}
.header-logo .logo-title .title-top {
    height: 32px; 
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
}
.header-logo .logo-title .title-bottom {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    color: #FFFFFF;
    height: 21px;
}
.header-logo:hover .title-top, 
.header-logo:hover .title-bottom {
    color: #F26522;
}
.header-logo:hover .logo-hover {
    display: inline;
}
.header-logo:hover .logo-main {
    display: none;
}

.header .contacts {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: flex-end;
    height: 60px;
}
.header .contacts :focus,
.header .contacts :hover {
    color: #F26522;
}
.contacts .email {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: #FFFFFF;
}
.contacts .phone {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: #FFFFFF;
}
.image-wrap {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    column-gap: 64px;
    row-gap: 36px;
    margin-bottom: 48px;
    margin-left: 160px;
    margin-right: 178px;
}

.image-wrap .image {
    margin-bottom: 20px;
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-image: linear-gradient(to top, #000, #fff 50%) 1;
}

.image-wrap .image-item .title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: #FFFFFF;
    height: 21px;

}
.image-wrap .image-item {
    position: relative;
    cursor: pointer;
    /* transition: width 1s ease-in, height 1s ease-in; */
}
.image-wrap .image-item:hover .image-description {
    display: flex;
    /* transition: width 1s ease-in, height 1s ease-in;*/
} 
.image-wrap .image-item:focus .title,
.image-wrap .image-item:hover .title {
    color: #F26522;
}

.image-wrap .image-description {
    background-color: #F26522;
    position: absolute;
    top: 165px;
    left: 2px;
    width: 300px;
    height: 55px;
    display: none;
    flex-direction: column;
    /* transition: width 1s ease-in, height 1s ease-in; */
}
.desc-title {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    margin: 8px 16px;
}
.desc-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 12px;
    margin-left: 16px;
    margin-right: 16px;

}
.desc-text .price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}
.desc-text .text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}
.desc-text .text::after {
    content: ">";
    margin-left: 16px;
    width: 5px;
    height: 10px;   
    /* как сделать струлку уже? */
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .footer-text {
    width: 306px;
    height: 21px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-bottom: 15px;
}